@import "~scss/mixins";
@import "~scss/variables";

@include b('anchor-radio'){
  display: inline-block;
  vertical-align: middle;

  @include e('element'){
    position: relative;
    display: inline-block;
    margin-left: 20px;
    line-height: 1;
    font-size: $font-size-smaller;
    color: $color-base;
    cursor: pointer;
    
    @include m('disabled'){
      cursor: not-allowed;
      color: $color-forbidden-font;
    }

    &:first-child{
      margin-left: 0;
    }
  }

  @include e('button'){
    position: relative;
    top: -1px;
    margin-right: 3px;
  }

  @include m('vertical'){
    display: block;
    margin-left: 0;
    height: 32px;
    line-height: 32px;
  }
}